nav{
    background-color: darkblue;
    text-align: center;
    justify-content: center;
    padding: 1px;
    
    
}
nav h2{
    color: aliceblue;
}

#search {
    
    display: block;
    position: absolute;
    width: 400px;
    max-height: fit-content;
}

#hrForcast{
    
   
}